<div class="row">
<div class="col-md-3">
    <div class="card-group">
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">Luis Rivera</h5>
              <h6 class="card-subtitle mb-2 text-muted">@luisr</h6>
          </div>
      </div>
      <div class="card">
          <img src="../../../assets/images/profile.png" class="card-img-top"/>
      </div>
    </div>
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Comunidades</a>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Lima - Centro
                  <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Bares rusticos - Ica
                  <span class="badge badge-primary badge-pill">25</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Movimiento Sur
                  <span class="badge badge-primary badge-pill">10</span>
                </li>
              </ul>
            </div>    
        </div>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Seguidos</a>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="card-body">
                    <h5 class="card-title">Roxana</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@RoxanaR</h6>
                  </div>
                  <span class="badge badge-primary badge-pill">3</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="card-body">
                    <h5 class="card-title">Yennifer</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@YenniferS</h6>
                  </div>
                  <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="card-body">
                    <h5 class="card-title">Adali</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> @AdaliV</h6>
                  </div>
                  <span class="badge badge-primary badge-pill">3</span>
                </li>
              </ul>
            </div>    
          </div>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Páginas</a>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Hospedaje Kiluo
                  <span class="badge badge-primary badge-pill">1</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Artesania Junin
                  <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Paiche - Restaurante Campestre
                  <span class="badge badge-primary badge-pill">5</span>
                </li>
              </ul>
            </div>    
          </div>
      </div>
  </div>
  <div class="col-md-6">
    <div class="card border border-primary">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleFormControlTextarea1 text-muted">@luisr</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Postea..!"></textarea>
            <br />
            <div class="form-row">
              <div class="form-group col-md-6">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                      </div>
                      <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">        
                    </div>
              </div>
              <div class="form-group col-md-6">
                  <select class="form-control" id="exampleFormControlSelect1">
                      <option selected>Selecciona tu estilo</option>
                      <option>Normal</option>
                      <option>Full imagen</option>
                      <option>Simple</option>
                    </select>
              </div>
            </div>
            <div class="form-row">
              <div class="input-group col-md-10">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Subir</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Selecciona foto</label>
                  </div>
                </div>
              </div>
              <div class="input-group col-md-2">
                  <button type="button" class="btn btn-outline-success btn-lg">Listo</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br/>
    <div class="card mb-3" >
      <div class="card-header">
          @luisr <!--<span class="badge badge-pill badge-warning">Gold Traveler</span>-->
         <span class="badge badge-pill badge-danger">Reportado</span>
      </div>
      <img src="../assets/images/publi1.JPG" class="card-img-top" style="width: 42rem">
      <div class="card-body">
          <h5 class="card-title"> Hermosa Vista del Rio Marañon</h5>
          <p class="card-text">#loreto, Nueva aventura en el amazonas</p>
          <div class="btn-group">
              <button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                  <i class="material-icons" style="display: block">favorite_border</i> <span class="badge badge-pill badge-info">200</span>
              </button>
              <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Comentar</button>
              <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target=".bd-report-modal-lg">Reportar</button>
          </div>
      </div>
      <div class="card-footer text-muted">
          hace 5 minutos
      </div>
    </div>
    <br />
    <div class="card bg-dark text-white">
        <img src="../assets/images/publi2JPG.JPG" class="card-img">
        <div class="card-img-overlay">
          <h5 class="card-title">Huacachina oasis milenario - @luisr <span class="badge badge-pill badge-warning">Gold Traveler</span></h5>
          <p class="card-text">Esta laguna se ubica en el desierto de ica, se encuentra a 10 min del centro #adrenalina</p>
          <p class="card-text">hace 10 minutos</p>
        </div>
    </div>
    <br />
    <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../assets/images/publi3.jpg" class="card-img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">@luisr <span class="badge badge-pill badge-warning">Gold Traveler</span></h5>
              <p class="card-text">Plaza de armas, desde Saqsayhuamán tienen que visitar este lugar</p>
              <div class="btn-group">
                  <button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                      <i class="material-icons" style="display: block">favorite_border</i> <span class="badge  badge-pill badge-info">1K</span>
                  </button>
                  <button type="button" class="btn btn-outline-primary">Comentar</button>
                  <button type="button" class="btn btn-outline-danger">Reportar</button>
              </div>
              <p class="card-text"><small class="text-muted">hace 3 minutos</small></p>
            </div>
          </div>
        </div>
      </div>
      
  </div>
  <div class="col-md-3">
    <div class="card border border-warning">
      <div class="card-header text-muted">#Cerca</div>
      <div class="card-body" data-spy="scroll" data-offset="0">
        <div class="card mb-3">
          <img src="../assets/images/cerca1.jpg" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">Corazón Contento</h5>
            <p class="card-text">3x2 en plato tradicional</p>
            <p class="card-text"><small class="text-muted">Hace 3 minutos</small></p>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="card">
      <div class="card-header text-muted">#Anuncios</div>
      <div class="card-body border border-success">
        <div class="card mb-3">
          <img src="../assets/images/anuncio1.jpg" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">Entredos <span class="badge  badge-pill badge-info">Nuevo</span></h5>
            <p class="card-text">2x1 en pisco sour</p>
            <p class="card-text"><small class="text-muted">Ahora</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Comentarios</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5 class="card-title">@lizS <span class="badge badge-pill badge-secondary">Silver Traveler</span> <span class="badge badge-pill badge-warning">Gold Assistant</span></h5>
                <p>Que buena foto... tengo que ir si o si </p>
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                      <i class="material-icons" style="display: block">favorite_border</i> <span class="badge  badge-pill badge-info" style="display: inherit">2</span>
                  </button>
                  <button type="button" class="btn btn-outline-warning"><i class="material-icons" style="display: block">stars</i><span class="badge  badge-pill badge-info" style="display: inherit">10</span></button>
                  <button type="button" class="btn btn-outline-danger">Reportar</button>
                </div>
              </li>
              <li class="list-group-item">
                <h5 class="card-title">@RoxanaR <span class="badge badge-pill badge-info">Bronze Traveler</span></h5>
                <p>Ya he estado en ese lugar y es hermoso, lo malo es que casi me ahogo xd</p>
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                      <i class="material-icons" style="display: block">favorite_border</i> <span class="badge  badge-pill badge-info" style="display: inherit">10</span>
                  </button>
                  <button type="button" class="btn btn-outline-warning"><i class="material-icons" style="display: block">stars</i><span class="badge  badge-pill badge-info" style="display: inherit">3</span></button>
                  <button type="button" class="btn btn-outline-danger">Reportar</button>
                </div>
              </li>
              <li class="list-group-item">
                <h5 class="card-title">@AlexS <span class="badge badge-pill badge-light">New Member</span></h5>
                <p>Como llegó a ese lugar? ... lo quiero conocer :o</p>
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                      <i class="material-icons" style="display: block">favorite_border</i> <span class="badge  badge-pill badge-info" style="display: inherit">0</span>
                  </button>
                  <button type="button" class="btn btn-outline-warning"><i class="material-icons" style="display: block">stars</i><span class="badge  badge-pill badge-info" style="display: inherit">0</span></button>
                  <button type="button" class="btn btn-outline-danger">Reportar</button>
                </div>
              </li>
            </ul>        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade bd-report-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Reportar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <h5>Porque consideras reportar a esta persona?</h5>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  <label class="form-check-label" for="inlineCheckbox1">Foto Inadecuada</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                  <label class="form-check-label" for="inlineCheckbox2">Incluye lenguaje grosero</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                  <label class="form-check-label" for="inlineCheckbox3">Insulta a los usuarios</label>
                </div>
                <br />
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Otro</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Indica otro motivo"></textarea>
                </div>   
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Reportar</button>
          </div>
        </div>
      </div>
    </div>