<div class="container">
  <div class="row">
    <div class="col-md-6">
        <div class="card rounded border border-primary" style="max-width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">Corazón contento</h5>
              <h6 class="card-subtitle mb-2 text-muted">Promoción</h6>
              <p class="card-text">3x2 en plato tradicional. A 400 metros</p>
              <p class="card-text"><small class="text-muted">Hace 1 min</small></p>
            </div>
        </div>
        <br />
        <div class="card rounded border border-primary" style="max-width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">Chillis</h5>
              <h6 class="card-subtitle mb-2 text-muted">Descuento</h6>
              <p class="card-text">-20% en costillas. A 200 metros</p>
              <p class="card-text"><small class="text-muted">Hace 1 min</small></p>
            </div>
        </div>
        <br />
        <div class="card rounded border border-primary" style="max-width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">Pardos</h5>
              <h6 class="card-subtitle mb-2 text-muted">Promocion</h6>
              <p class="card-text">2x1 en ensalada clásica. A 300 metros</p>
              <p class="card-text"><small class="text-muted">Hace 1 min</small></p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
            <img src="../../../assets/images/mapa1.png" class="img-fluid" alt="Responsive image">
        </div>
      </div>
      <br />
      <div class="card">
        <img src="../../../assets/images/qr.png" class="card-img-top rounded mx-auto d-block" style="max-width: 15rem;">
        <div class="card-body">
            <h5 class="card-title">Pardos</h5>
            <h6 class="card-subtitle mb-2 text-muted">2x1 en ensalada clásica.</h6>
            <p class="card-text">Accede a esta promoción al momento de solicitar el pedido. Valido solo para un uso</p>
        </div>
      </div>
    </div>
  </div>
</div>